.App {
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: center;
  max-width: 900px;
  margin: auto;
  padding: 40px 15px;
}

.draggable-container {
  margin-top: 20px;
}

.draggable {
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.draggable.red {
  color: red;
}

.dropzone {
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  border-bottom: 2px dashed #ccc;
  min-width: 50px;
  text-align: center;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

p {
  margin-top: 20px;
  font-size: 18px;
}
.correct {
  background-color: lightgreen;
}

.incorrect {
  background-color: lightcoral; 
}
.dropzone-custom {
  border: none;
}

.draggable-container {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  &:hover {
    .draggable {
      opacity: 0.5;
    }
  }

  .draggable {
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 1;
      box-shadow: -2px 12px 9px -4px rgba(0, 0, 0, 0.11);
    }
  }
}

.btn {
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  display: inline-flex;
  border-radius: 5px;
  min-width: 80px;
  justify-content: center;
  text-align: center;
  align-items: center;
  min-height: 32px;
  margin-top: 30px;
  background: #ffffff;
  color: #69b5ff;
  border: 1px solid #69b5ff;
  transition: all 0.2s ease-out;

  &:hover {
    background: #69b5ff;
    color: #ffffff;
    border: 1px solid #69b5ff;
  }
}